h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  color: #30342c;
  font-size: 32px;
  line-height: 36px;
  font-weight: 900;
}

p {
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  color: #30342c;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
}

a {
  color: #00bc47;
  text-decoration: none;
}

.navbar {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 50px;
  background-color: hsla(0, 0%, 100%, .9);
  box-shadow: 0 1px 3px 0 #a3a3a3;
}

.navbar-logo {
  margin-top: 8px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.body {
  margin-top: 50px;
  background-color: #fff;
}

.navlink {
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: Lato, sans-serif;
  font-weight: 300;
}

.navlink:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  color: #00bc47;
}

.navlink.w--current {
  color: #00bc47;
}

.message-pic-wrapper {
  width: 120px;
  float: left;
}

.message-text-wrapper {
  display: block;
  width: 60%;
  margin-top: 0px;
  margin-left: 50px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  float: left;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 10px;
}

.message-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  margin-top: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.message-container.margin-top-40 {
  max-width: 100%;
  margin-top: 40px;
}

.message-pic {
  display: block;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
}

.message-text {
  display: inline-block;
  margin-bottom: 15px;
  padding: 15px 10px;
  float: left;
  border-radius: 10px;
  background-color: #00bc47;
  font-family: Lato, sans-serif;
  color: #fff;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.textlink {
  display: block;
  margin-top: 5px;
  margin-right: auto;
  margin-left: auto;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: Lato, sans-serif;
  color: #30342c;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  text-transform: none;
}

.textlink:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  color: #00bc47;
}

.reply-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 100%;
  margin-top: 21px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.reply-pic-wrapper {
  width: 120px;
}

.reply-text-wrapper {
  width: 85%;
  margin-right: 50px;
  margin-left: 0px;
  padding-top: 10px;
  padding-left: 10px;
  border-radius: 10px;
}

.reply-text {
  display: inline-block;
  margin-bottom: 15px;
  padding: 15px 10px;
  float: right;
  clear: none;
  border-radius: 10px;
  background-color: #e0e0e0;
  font-family: Lato, sans-serif;
  font-weight: 300;
  text-align: right;
}

.reply-pic {
  display: block;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
}

.footer {
  margin-top: 40px;
}

.footer-p {
  font-family: Lato, sans-serif;
  color: #aaa;
  font-size: 10px;
  font-weight: 300;
  text-align: center;
}

.padding-top-40 {
  padding-top: 40px;
}

.download-btn {
  border-radius: 4px;
  background-color: #00bc47;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.download-btn:hover {
  background-color: #00d350;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.container-p {
  margin-left: 0px;
}

.contact-section {
  padding-top: 35px;
  text-align: center;
}

.portfolio-item {
  display: block;
  height: auto;
  margin-left: 0px;
  padding-left: 0px;
  opacity: 1;
  font-weight: 700;
  text-decoration: none;
}

.portfolio-item:hover {
  color: #00bc47;
}

.portfolio-item.item-1 {
  border: 1px solid #e1e1e1;
  background-image: url('../images/referral-1.png');
  background-position: 50% 0px;
  background-size: cover;
}

.portfolio-item.item-2 {
  border: 1px solid #e1e1e1;
  background-image: url('../images/reporting.png');
  background-position: 50% 0px;
  background-size: cover;
}

.portfolio-item.item-3 {
  border: 1px solid #e1e1e1;
  background-image: url('../images/collection-1.png');
  background-position: 50% 0px;
  background-size: cover;
}

.portfolio-item.item-4 {
  border: 1px solid #e1e1e1;
  background-image: url('../images/fixingapp-2.jpg');
  background-position: 50% 0px;
  background-size: cover;
}

.portfolio-item.item-5 {
  border: 1px solid #e1e1e1;
  background-image: url('../images/codecampyvr-2.jpg');
  background-position: 50% 0px;
  background-size: cover;
}

.portfolio-item.item-6 {
  border: 1px solid #e1e1e1;
  background-image: url('../images/ttk-live-app-shot.jpg');
  background-position: 50% 0px;
  background-size: cover;
}

.portfolio-item-1-p {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 250px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  opacity: 0;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  text-align: center;
}

.portfolio-item-1-p:hover {
  position: relative;
  z-index: 100;
  background-color: #00bc47;
  opacity: 0.9;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  color: #fff;
  font-weight: 300;
}

.portfolio-heading {
  font-family: Lato, sans-serif;
  font-size: 38px;
  line-height: 50px;
  font-weight: 900;
}

.h2-link {
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.h2-link:hover {
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
  color: #00bc47;
}

.logo-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  float: none;
  clear: none;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo-section-img {
  display: block;
  width: auto;
  max-width: 150px;
  margin: 10px auto;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.reverse-link {
  color: #fff;
}

.margin-top-40 {
  margin-top: 40px;
}

.portfolio-header {
  margin-top: 40px;
  margin-bottom: 20px;
}

.portfolio-feature {
  margin-top: 60px;
  margin-bottom: 60px;
}

.messagelink {
  color: #fff;
}

html.w-mod-js *[data-ix="load-1"] {
  opacity: 0;
}

html.w-mod-js *[data-ix="messagegrow-2"] {
  opacity: 0;
  -webkit-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
}

html.w-mod-js *[data-ix="messagegrow-3"] {
  opacity: 0;
  -webkit-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
}

html.w-mod-js *[data-ix="load-2"] {
  opacity: 0;
}

html.w-mod-js *[data-ix="display-onload"] {
  display: none;
}

@media (max-width: 991px) {
  .navlink {
    text-align: center;
  }
  .navlink.w--current {
    display: block;
    text-align: center;
  }
  .reply-container {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .reply-text-wrapper {
    width: 60%;
  }
  .logo-section {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
  }
  .nav-menu {
    width: auto;
    background-color: #fff;
    opacity: 1;
  }
  .menu-btn {
    height: 50px;
  }
  .menu-btn:active {
    background-color: #fff;
  }
  .menu-btn:focus {
    background-color: #fff;
  }
}

@media (max-width: 767px) {
  .message-container {
    max-width: 100%;
  }
  .message-container.margin-top-40 {
    max-width: 100%;
  }
  .reply-container {
    width: auto;
    max-width: 100%;
  }
  .footer-p {
    max-width: 100%;
  }
  .container-p {
    margin-right: 10px;
    margin-left: 10px;
  }
  .portfolio-item {
    padding-right: 10px;
    padding-left: 10px;
  }
  .nav-menu {
    box-shadow: 0 0 4px 0 #8d8787;
  }
  .menu-btn {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 19px;
  }
}

@media (max-width: 479px) {
  .message-pic-wrapper {
    width: 20%;
    margin-left: 10px;
  }
  .message-text-wrapper {
    width: 90%;
    margin-left: 10px;
  }
  .message-pic {
    width: 50px;
  }
  .reply-pic-wrapper {
    width: 20%;
    margin-right: 10px;
    margin-left: 0px;
  }
  .reply-text-wrapper {
    width: 90%;
    margin-right: 10px;
  }
  .reply-text {
    padding-right: 10px;
  }
  .reply-pic {
    width: 50px;
  }
}

