<section class="center footer">
  <p>Copyright 2017 Jesse Johnston. I built this site with my bare hands using html, css and javacript. All client work is property of the specified client.</p>
  <p>Check me out on: <a href="https://www.instagram.com/jesseleejohnston/" class="">Instagram</a> and <a href="https://ca.linkedin.com/in/jesseleejohnston
" class="">LinkedIn.</a></p>
</section>
