---
title: Style Guide
---
<div class="project-page leader-text animated fadeIn">
  <h1 class="leader-text-title">Style Guide</h1>
  <p class="leader-text-sub">For JesseJohnston.co</p>
</div>

<div class="page-content animated fadeIn">
  <h1>This is a level h1 heading</h1>
  <p>Hi, I’m Jesse, I became a full-time UX designer in 2014. Prior to becoming a UX designer I wore many different hats at a small agency. It was here I got my first taste of UX design and completely immersed myself into the field. I had the opportunity to design complete experiences for mobile apps and responsive websites but I was curious to learning more about how the development team worked. I left my agency job to take a full-time web development course. After finishing the course I joined a SaSS company as a full-time user experience professional.</p>
  <h2>This is a level h1 heading</h2>
  <p>Hi, I’m Jesse, I became a full-time UX designer in 2014. Prior to becoming a UX designer I wore many different hats at a small agency. It was here I got my first taste of UX design and completely immersed myself into the field.</p>
  <h3>This is a level h1 heading</h3>
  <a href="#">This is a hyperlink</a>

  <br>
  <small><p>This is small text. Usually reversed for things I don't want people to read and boring footer text.</p></small>



</div>
